# **SpaceX  Falcon 9 First Stage Landing Prediction**

## Introduction

**Capstone Project for 'IBM Professional Certificate in Data Science with Python'**   
In this project, I constructed a machine learning model that can predict whether Falcon 9 will land successfuly in the first stage. [Falcon 9](https://www.spacex.com/vehicles/falcon-9/) is classified as a medium-lift partially reusable rocket, used to launch hefty communications and satellites into Earth orbit or ferry austronaouts to and from the International Space Station. As of April 2022, SpaceX offers Falcon 9 rocket launches for [USD 62 million](https://www.nbcnews.com/science/space/space-launch-costs-growing-business-industry-rcna23488), which means around USD 1,200 per pound of payload. For comparison, per pound cost of SpaceX competitors is 3 to 5 times more expensive, whereas traditional NASA space shuttles, retired in 2011, cost an average of [USD 1.6 billion](https://aerospace.csis.org/data/space-launch-to-low-earth-orbit-how-much-does-it-cost/) per flight. SpaceX is able to provide rocket launches for unprecedented low prices, because it can reuse the first stage, which significantly reduces the demand for new cores. Therefore, determining whether the first stage will land, helps to estimate the cost of a launch. This information can also be used if another company wants to bid against SpaceX for a rocket launch. For this project, I use API requests to pull data from <code>https://api.spacexdata.com/v4</code> and webscraping to collect data from Wikipedia.

---

# Part 3: Data Exploration with SQL

> Objective:   

* Data Exploration

#### 0. Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [20]:
import pandas as pd 
import csv, sqlite3

# con = sqlite3.connect("my_data1.db") 
# cur = con.cursor()

In [1]:
# if necessary !pip install ipython-sql 
%load_ext sql

In [22]:
%sql sqlite:///my_data1.db

In [23]:
# Load the CSV file into a DataFrame
df = pd.read_csv('Spacex_2.csv')

In [24]:
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**To remove blank rows from table**

In [25]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

#### 1. Display the names of the unique launch sites  in the space mission

In [26]:
%sql SELECT DISTINCT "Launch_Site" FROM SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]

####  2. Display 5 records where launch sites begin with the string 'KSC'

In [27]:
%sql SELECT * FROM SPACEXTABLE WHERE "Launch_Site" LIKE 'KSC%' LIMIT 5;

 * sqlite:///my_data1.db
Done.

[('2017-02-19', '14:39:00', 'F9 FT B1031.1', 'KSC LC-39A', 'SpaceX CRS-10', 2490, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (ground pad)'),
 ('2017-03-16', '6:00:00', 'F9 FT B1030', 'KSC LC-39A', 'EchoStar 23', 5600, 'GTO', 'EchoStar', 'Success', 'No attempt'),
 ('2017-03-30', '22:27:00', 'F9 FT  B1021.2', 'KSC LC-39A', 'SES-10', 5300, 'GTO', 'SES', 'Success', 'Success (drone ship)'),
 ('2017-05-01', '11:15:00', 'F9 FT B1032.1', 'KSC LC-39A', 'NROL-76', 5300, 'LEO', 'NRO', 'Success', 'Success (ground pad)'),
 ('2017-05-15', '23:21:00', 'F9 FT B1034', 'KSC LC-39A', 'Inmarsat-5 F4', 6070, 'GTO', 'Inmarsat', 'Success', 'No attempt')]

#### 3. Display the total payload mass carried by boosters launched by NASA (CRS)

In [28]:
%sql SELECT SUM("PAYLOAD_MASS__KG_") as Total_Payload_Mass FROM SPACEXTABLE WHERE "Customer" LIKE 'NASA (CRS)%';

 * sqlite:///my_data1.db
Done.

[(48213,)]

#### 4. Display average payload mass carried by booster version F9 v1.1

In [29]:
%sql SELECT DISTINCT "Booster_Version" FROM SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[('F9 v1.0  B0003',),
 ('F9 v1.0  B0004',),
 ('F9 v1.0  B0005',),
 ('F9 v1.0  B0006',),
 ('F9 v1.0  B0007',),
 ('F9 v1.1  B1003',),
 ('F9 v1.1',),
 ('F9 v1.1 B1011',),
 ('F9 v1.1 B1010',),
 ('F9 v1.1 B1012',),
 ('F9 v1.1 B1013',),
 ('F9 v1.1 B1014',),
 ('F9 v1.1 B1015',),
 ('F9 v1.1 B1016',),
 ('F9 v1.1 B1018',),
 ('F9 FT B1019',),
 ('F9 v1.1 B1017',),
 ('F9 FT B1020',),
 ('F9 FT B1021.1',),
 ('F9 FT B1022',),
 ('F9 FT B1023.1',),
 ('F9 FT B1024',),
 ('F9 FT B1025.1',),
 ('F9 FT B1026',),
 ('F9 FT B1029.1',),
 ('F9 FT B1031.1',),
 ('F9 FT B1030',),
 ('F9 FT  B1021.2',),
 ('F9 FT B1032.1',),
 ('F9 FT B1034',),
 ('F9 FT B1035.1',),
 ('F9 FT  B1029.2',),
 ('F9 FT B1036.1',),
 ('F9 FT B1037',),
 ('F9 B4 B1039.1',),
 ('F9 FT B1038.1',),
 ('F9 B4 B1040.1',),
 ('F9 B4 B1041.1',),
 ('F9 FT  B1031.2',),
 ('F9 B4 B1042.1',),
 ('F9 FT  B1035.2',),
 ('F9 FT  B1036.2',),
 ('F9 B4 B1043.1',),
 ('F9 FT  B1032.2',),
 ('F9 FT  B1038.2',),
 ('F9 B4 B1044',),
 ('F9 B4  B1041.2',),
 ('F9 B4  B1039.2',),
 ('F9 B4 B1045.1',),
 ('F9 B5  B1046.1',),
 ('F9 B4  B1043.2',),
 ('F9 B4  B1040.2',),
 ('F9 B4 B1045.2',),
 ('F9 B5B1047.1',),
 ('F9 B5B1048.1',),
 ('F9 B5 B1046.2',),
 ('F9 B5B1049.1',),
 ('F9 B5 B1048.2',),
 ('F9 B5 B1047.2',),
 ('F9 B5 B1046.3',),
 ('F9 B5B1050',),
 ('F9 B5B1054',),
 ('F9 B5 B1049.2',),
 ('F9 B5 B1048.3',),
 ('F9 B5B1051.1',),
 ('F9 B5B1056.1 ',),
 ('F9 B5 B1049.3',),
 ('F9 B5 B1051.2 ',),
 ('F9 B5 B1056.2 ',),
 ('F9 B5 B1047.3 ',),
 ('F9 B5 B1048.4',),
 ('F9 B5B1059.1',),
 ('F9 B5 B1056.3 ',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1046.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1059.2',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5B1058.1 ',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1059.3',),
 ('F9 B5B1060.1',),
 ('F9 B5 B1058.2 ',),
 ('F9 B5 B1051.5',),
 ('F9 B5 B1049.6',),
 ('F9 B5 B1059.4',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5B1062.1',),
 ('F9 B5B1061.1 ',),
 ('F9 B5B1063.1',),
 ('F9 B5 B1049.7 ',),
 ('F9 B5 B1058.4 ',)]

#### 5. List the date where the succesful landing outcome in drone ship was acheived.

In [16]:
%sql SELECT MIN("Date") as First_Successful_Landing_On_Drone_Ship FROM SPACEXTABLE WHERE "Landing_Outcome" LIKE 'Success (drone ship)';

 * sqlite:///my_data1.db
Done.

[('2016-05-27',)]

#### 6. List the names of the boosters which have success in ground pad  and have payload mass greater than 4000 but less than 6000

In [17]:
%sql SELECT "Booster_Version" FROM SPACEXTABLE WHERE "Landing_Outcome" LIKE 'Success (ground pad)' AND "PAYLOAD_MASS__KG_" > 4000 AND "PAYLOAD_MASS__KG_" < 6000;

 * sqlite:///my_data1.db
Done.

[('F9 FT B1032.1',), ('F9 B4 B1040.1',), ('F9 B4 B1043.1',)]

#### 7. List the total number of successful and failure mission outcomes

In [30]:
%sql SELECT \
    (SELECT COUNT(*) FROM SPACEXTABLE WHERE "Mission_Outcome" = "Failure") as Number_of_Failures, \
    (SELECT COUNT(*) FROM SPACEXTABLE WHERE "Mission_Outcome" = 'Success') as Number_of_Successes, \
    (SELECT COUNT(*) FROM SPACEXTABLE WHERE "Mission_Outcome" IN ('Failure', 'Success')) as Total_Number_of_Missions;

 * sqlite:///my_data1.db
Done.

[(0, 98, 98)]

#### 8. List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [31]:
%sql SELECT Booster_Version FROM SPACEXTABLE WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTABLE);

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

#### 9. List the records which will display the month names, succesful landing_outcomes in ground pad ,booster versions, launch_site for the months in year 2017

In [32]:
# SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2017' for year 
%sql SELECT substr(Date, 6, 2) as Month, "Landing_Outcome", "Booster_Version", "Launch_Site" FROM SPACEXTABLE WHERE substr(Date, 1, 4) = '2017' AND "Landing_Outcome" LIKE 'Success (ground pad)%';

 * sqlite:///my_data1.db
Done.

[('02', 'Success (ground pad)', 'F9 FT B1031.1', 'KSC LC-39A'),
 ('05', 'Success (ground pad)', 'F9 FT B1032.1', 'KSC LC-39A'),
 ('06', 'Success (ground pad)', 'F9 FT B1035.1', 'KSC LC-39A'),
 ('08', 'Success (ground pad)', 'F9 B4 B1039.1', 'KSC LC-39A'),
 ('09', 'Success (ground pad)', 'F9 B4 B1040.1', 'KSC LC-39A'),
 ('12', 'Success (ground pad)', 'F9 FT  B1035.2', 'CCAFS SLC-40')]

#### 10. Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [33]:
%sql SELECT "Landing_Outcome", COUNT(*) as Count FROM SPACEXTABLE WHERE Date BETWEEN '2010-06-04' AND '2017-03-20' GROUP BY "Landing_Outcome" ORDER BY Count DESC;

 * sqlite:///my_data1.db
Done.

[('No attempt', 10),
 ('Success (drone ship)', 5),
 ('Failure (drone ship)', 5),
 ('Success (ground pad)', 3),
 ('Controlled (ocean)', 3),
 ('Uncontrolled (ocean)', 2),
 ('Failure (parachute)', 2),
 ('Precluded (drone ship)', 1)]